{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-tuite"></i></a>
{{ end }}
{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-github"></i></a>
{{ end }}
{{ with .Site.Params.Social.Wechat }}
<a href="javascript:void(0);" target="_blank" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="iconfont icon-zuozhe"></i></a> 
{{end}}
{{ with .Site.Params.Social.Bilibili }}
<a href="{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-iconbilibili"></i></a>
{{ end }}
{{ with .Site.Params.Social.Email }}
<a href="mailto:{{.}}" rel="me noopener"><i class="iconfont icon-gmail"></i></a>
{{ end }}
{{ with .Site.Params.Social.Coolapk }}
<a href="{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-kuan"></i></a>
{{ end }}
{{ with .Site.Params.Social.Cloudmusic }}
<a href="{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-netease"></i></a>
{{ end }}
{{ with .Site.Params.Social.Weibo }}
<a href="{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-weibo"></i></a>
{{ end }}
{{ with .Site.Params.Social.Qq }}
<a href="{{.}}" target="_blank" rel="me noopener"><i class="iconfont icon-love"></i></a>
{{ end }}
